*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url(image/11.jpg);
    background-position-x:center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header li{
    display: flex;
    display: inline-block;
}
header {
    display: inline-block;
    display: flex;
    width: 1280px;
    display: block;
    margin:0 auto;
}
.hes{
    display: flex;
    justify-content: space-between;
}
.punk{
    margin-top: 20px;
}
.TTT{
    display: flex;
    justify-content: space-between;
    width: 379px;
    margin-top: 42px;
}

.platform{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}
@font-face {
    font-family: 'cyberpunkshrift';
    src: url(shrift/cyberpunkshrift.ttf);
}
@font-face {
    font-family: 'yltrarep';
    src: url(shrift/ofont.ru_Roboto.ttf);
}
.texthero{
color: #000;
font-family: cyberpunkshrift;
font-size: 62px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 484px;
padding: 8px 0 0 0;
height: 126px;
margin-top: 62px;
}
.dostyp{
    width: 554px;
    padding-left: 70px;
    height: 369px;
    background: #F8F200;
    clip-path: polygon(154% 0%, 8% 0%, 0% 13%, 0% 249%);
    display: flex;
    flex-direction: column;
    gap: 2px;
    }
.bobi{
    display: inline-flex;
    padding: 19px 50px;
    width: max-content;
    align-items: center;
    font-family: yltrarep;
    border: 0;
    color: #F8F200;
    background: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 25px;
}
.sec2{
    width: 1280px;
    margin: 0 auto;
    height: 848px;
}
.night{
    color: #000;
    font-family: cyberpunkshrift;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 70px 0 0 8px;
}
.cyb{

    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;  /* 188.889% */
    padding: 1px 0 0 1px;
    color: #777;
    width: 952px;
    height: 125px;
    padding: 25px 0 0 8px;
}
.bluepunk{
    color: #52BEDC;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; 
}
.gallery{
    padding: 70px 0 0 0px;
    display: flex;
}
.foto{
    padding-top: 27px;
}
.bigfoto{
    width: 788px;
    height: 424px; 
}
.sec3{
    background-color: #000;
    height: 884px;
}
.conteiner{
    width: 1280px;
    margin: 0 auto;
}
.akcia{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.akctext{
    margin-top: 69px;
    margin-left: -30px;
    color: #FFF;
    font-family: cyberpunkshrift;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 60px;
}
.perehod{
    display: flex;
}
.compon{
    width: 132px;
    height: 132px;
    margin-top: 15px;
    margin-left: 10px;
}
.roztext{
    color: #FFF;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    width: 1000px;
    height: 91px;
    flex-shrink: 0;
    width: 952px;
    padding-left: 10px;
}
.roz{
    margin-top: 20px;
    width: 952px;
}
.zaivka{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    background: url(image/Group\ 217.png);
    background-position: right 80%;
    background-repeat: no-repeat;
}
.zaivkaimg{
    display: flex;
}
.dannie{
    color: #FFF;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;    
}
.dannie1{
    color: #FFF;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 20px;  
}
.imp{
    border: 0;
    background: 0;
    text-align: center;
    color: #FFF;
}
.zai{
    margin-left: 10px;
    margin-top: 100px;
}
.skrin{
    border: 1px dashed #777;
    width: 460px;
    height: 120px; 
    color: #FFF;
    display: flex;
    justify-content: center;
    margin-top:25px;
    align-items:center;
    flex-direction: column;
    
}
.spaskrin{
    color: #FFF;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}
.tydedannih{
    color: #FFF;
    font-family: yltrarep;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.but{
    background: #F8F200;
    padding: 15px 50px;
    color: #000;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-top: 35px;
    border: 0;
}
.perehod1{
    transform: rotate(180deg);
}
.sec4{
    background-color: #F8F200;
    height: 676px;
}
.fif{
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
.hppunk{
    padding-top: 45PX;
    display: inline-flex;
    justify-content: flex-start;
}
.hpprog{
    display: inline-block;
    margin-top: 45px;
    margin-left: 40px;
}
.xppogr{
    color: #000;
    font-family: cyberpunkshrift;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.pogr{
    color: #000;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    width: 624px;
    height: 125px;
    padding-top: 25px;
}
.olel{
    padding-top: 30px;
}
.hpprog li{
    color: #000;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 8px;
}
ul.olel{
    list-style-type: none;
}
li.li1:before{content: url(icon/Vector-2.svg); padding-right: 10px; padding-left: 7px;}
li.li2:before{content: url(icon/Vector-3.svg); padding-right: 10px; padding-left: 7px;}
li.li3:before{content: url(icon/Vector-4.svg); padding-right: 10px; padding-left: 7px;}
.pidrobnee{
    display: inline-flex;
    padding: 18px 46px;
    width: max-content;
    align-items: center;
    font-family: yltrarep;
    color: #F8F200;
    background: #000;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: normal; 
    margin-top: 20px;
    border: 0;
}
.sec5{
    height: 717px;
    width: 1920px;
    margin: 0 auto;
    
    /*background: url(image/Untitled-1\ 1.jpg);
    background-position: left 50%;
    background-repeat: no-repeat;*/
    
}
.rasprtext{
    background: black;
    display: inline-block;
    justify-content: space-between;
    width: 976px;
    height: 717px;
}
.shop{
    color: #FFF;
    font-family: cyberpunkshrift;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 65px 0 0 30px;
}
.komplect{
    color: #52BEDC;
    font-family: yltrarep;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 0 0 30px; 
}
.komplect1{
    color: #52BEDC;
    font-family: yltrarep;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 70px 0 0 30px; 
}
.xobit li{
    color: #FFF;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14px 0 0 30px;
}
li.li4:before{content: url(icon/Subtract.svg); padding-right: 10px; padding-left: 7px;}
li.li5:before{content: url(icon/Vector.svg); padding-right: 10px; padding-left: 7px;}
li.li6:before{content: url(icon/Vector-1.svg); padding-right: 10px; padding-left: 7px;}
.kbpank{
    width: 944px;
    display: inline-flex;
}
.sec5opr{
    display:flex;
    justify-content: space-between;
}
.iconses{
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    height: 133px; 
    padding-top: 20px;
    gap: 50px;
}
.sec6{
    width: 1920px;
}
.sec6int{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    height: 100px;
}
.sec6image{
    padding-top: 10px;
}
.kibersup{
    margin-left: 25px;
}
.ppank{
    color: #000;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:30px 0px 0px 0px;
    margin-left: 400px;
}
.ppank1{
    color: #000;
    font-family: yltrarep;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:30px 0px 0px 32px;
}
.sec6text{
    text-align:center;
    display: inline-flex;
}
footer{
    background: #000;
    height: 40px;
    width: 1920px;
}
.pipipypy{
    color: #FFF;
    text-align: center;
    font-family: yltrarep;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
}
